body {
    margin: 10px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;

}

.Login {
    position: absolute;
    top: 5cm;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    background-color: aquamarine;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
}

.Login h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aqua;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    margin: 0 0 10px 10px;
    border-bottom: 1px solid black;
}


.Login form {
    padding: 10px 40px;
    box-sizing: border-box;
}

form .Username {
    position: relative;
    border-bottom: 2px solid black;
    margin: 10px 0;
}


form .Contraseña {
    position: relative;
    border-bottom: 2px solid black;
    margin: 10px 0;
}


.Username input{
    width: 100%;
    padding: 5px 5px;
    height: 10px;
    font-size: 16px;    
    border: none;
    background: none;
    outline: none;
}

.Contraseña input{
    width: 100%;
    padding: 5px 5px;
    height: 10px;
    font-size: 16px;    
    border: none;
    background: none;
    outline: none;
}


.Username label{
    position: absolute;
    top: 40px;
    left: 0;
    color: rgb(56, 53, 53);
    transform: translateY(-60%);
    font-size: 18px;
    pointer-events: none;
}


.Contraseña label{
    position: absolute;
    top: 10px;
    left: 0;
    color: rgb(56, 53, 53);
    transform: translateY(-60%);
    font-size: 18px;
    pointer-events: none;
}
