.login-main {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: start;
	padding: 3rem 1rem;
}

.login {
	width: 500px;
	background-color: aquamarine;
	border-radius: 25px;
	padding: 3rem;
}

.login h1 {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: aqua;
	border-radius: 15px;
	padding: 10px;
	border-bottom: 1px solid black;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

form .username {
	border-bottom: 2px solid black;
	margin: 10px 0;
}

form .contraseña {
	border-bottom: 2px solid black;
	margin: 10px 0;
}

.username input {
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

.contraseña input {
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

.username label {
	top: 40px;
	left: 0;
	color: rgb(56, 53, 53);
	transform: translateY(-60%);
	font-size: 18px;
	pointer-events: none;
}

.contraseña label {
	top: 10px;
	left: 0;
	color: rgb(56, 53, 53);
	transform: translateY(-60%);
	font-size: 18px;
	pointer-events: none;
}

.recordar-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.recordar-container input {
   cursor: pointer;
}

.recordar-container label {
	font-size: 14px;
	cursor: pointer;
}

.login button {
	border-radius: 15px;
	padding: 0.8rem;
	font-size: 1rem;
	font-weight: 700;
	font-weight: normal;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 1px;
	transition: all 0.5s ease;
}

.login button:hover {
	background-color: black;
	color: aliceblue;
}

.crear-cuenta {
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.crear-cuenta {
	width: 100%;
	text-align: center;
}
